body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
}

.container {
  border: 1px solid black;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

.heading {
  font-size: 20px;
}

.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}

p {
  line-height: 28px;
  font-size: 15px;
}

a {
  outline: none !important;
}

hr {
  width: 180px;
  border-color: #CCC;
  margin-left: 48px;
}

.work-title h2 {
  color: #00C6D7;
  font-size: 56px;
  margin-bottom: 20px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.work-title h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

img {
  display: block;
  width: 100%;
}

.work-title {
  padding-bottom: 32px;
}

.work,
.About,
.Team,
.Portfolio,
.Pricing,
.contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* ==========================================================================
work section
========================================================================== */
.work {
  text-align: center;
}

.work-title:after {
  position: absolute;
  content: " ";
  height: 1px;
  background-color: #CCC;
  width: 180px;
  left: 0;
  right: 15px;
  margin: 0 auto;
}

.work .work-we {
  padding: 28px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.work-do .work-we i.fa {
  font-size: 32px;
}

.work-we h3 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.work-we:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}

/* ==========================================================================
About section
========================================================================== */
.About {
  background: #3B3B3B;
  color: #ffffff;
}

.About .Agency-image img {
  height: 400px;
}

.About-us h3,
.About-us p.heading {
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.About-us h3 {
  font-size: 24px;
}

.tab-content a.link {
  color: #FF0;
  text-decoration: none;
}

.nav-tabs {
  margin-top: 20px;
  border-bottom: 1px solid #606060;
}
.nav-tabs>li>a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 0;
  color: #ffffff;
  text-transform: uppercase;
}
.nav-tabs .nav-link{
border: none;
}
.nav-tabs .nav-link.active,.nav-tabs .nav-link.active>a{
  color: #00c6d7;
  cursor: default;
  background-color: transparent;
  border-bottom-color: transparent;
}
.nav-link:hover{
  color: #ffffff;
}
/* ==========================================================================
Team section
========================================================================== */
.Team {
  text-align: center;
}

.team-wrapper {
  overflow: hidden;
  position: relative;
}

.team-wrapper .team-des h4 {
  font-size: 18px;
  margin-top: 40px;
}

.team-des p {
  color: #00c6d7;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}

.team .social-icon li a {
  color: #fff;
}

.social-icon li a {
  box-shadow: 0px 2px 8px 0px rgb(50 50 50 / 9%);
  color: #808080;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.Team .team-des {
  background-color: rgba(00, 00, 00, 0.6);
  position: absolute;
  color: #ffffff;
  opacity: 0;
  max-width: 500px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
}

.Team .team-des:hover {
  opacity: 1;
}

.Team .social-icon li a {
  color: #fff;
}

.Team .social-icon li a:hover {
  color: #00c6d7;
  ;
}

/* ==========================================================================
Portfolio section
========================================================================== */
.Portfolio-filters ul{
 margin: 40px 0 24px 0;

}








/* ==========================================================================
Pricing section
========================================================================== */
.Pricing {
  text-align: center;
}

.Pricing .price {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 32px;
}

.price .price-icon i.fa {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
  font-size: 52px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  margin-bottom: 32px;
}

.price-content {
  margin-top: 20px;
  margin-bottom: 10px;
}

.price-content h3 {
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.price-content p.bold {
  font-size: 52px;
  font-weight: bold;
}

.price-content span {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 5px;
}

.Pricing .price-content ul {
  padding: 0px;
}

.Pricing .price-content ul li {
  display: block;
  font-weight: 500;
  padding: 12px 0px;
}

.price-content button {
  border: none;
  border-radius: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 60px;
  transition: all 0.4s ease-in-out;
  margin-top: 20px;
  text-transform: uppercase
}
.price-content .btn-black{
  background-color: #00C6D7;
}
.price-content .btn-yellow{
  background-color: #ffa400;
}
.price-content .btn-green{
  background-color: #009988;
}
.price-content button:hover{
 background-color: #3B3B3B;
}
/* ==========================================================================
Contact us section
========================================================================== */
.Contact{
 background: #3B3B3B url("../image/contact-bg.jpg") no-repeat center center;
 background-size: cover;
 color: #ffffff;
}
.Contact .work-title h3{
  text-transform: uppercase;
}
.contact-info h2{
  font-size: 20px;
  padding-bottom: 20px;
}
.contact-info .contact-email{
  padding-top: 14px;
  padding-bottom: 14px;
}


/* ==========================================================================
footer section
========================================================================== */
footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer p {
  padding-top: 20px;
}
footer .social-icon:after{
  position: absolute;
  content: " ";
  height: 1px;
  background-color: #CCC;
  width: 180px;
  left: 0;
  right: 15px;
  margin: 10px auto;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
  margin-top: 35px;
}
.social-icon li a {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
  color: #808080;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.social-icon li a:hover {
  color: #00c6d7;
}



